body {
  font-family: sans-serif;
}

#topo{
  display: flex;
  justify-content: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
#topo h1{
  color: #ddd;
}
@keyframes changeBackgroundColor {
  0% {
    background-color: rgba(2,0,36,1) ;
  }
  50% {
    background-color: rgb(15, 13, 124) ;
  }
  100% {
    background-color:rgb(65, 86, 202) ;
  }
}
#corpo{
  background: linear-gradient(0, #120c56, #000000);
  animation: changeBackgroundColor 7s infinite;
}


#principal{
  display: flex;
  justify-content: center;
   
}

#status{
 display: flex;
 justify-content: center;
}
#gameBoard {
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,116,9,1) 35%, rgba(0,212,255,1) 100%);
  display: grid;
  grid-template-columns: 6rem 6rem 6rem;
  grid-template-rows: 6rem 6rem 6rem;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  max-width: 19rem;
  border-radius: 10px;
}

#gameBoard span {
  background-color: rgb(217, 218, 219);
  cursor: pointer;
  display: grid;
  place-content: center;
  font-size: 5rem;
  border-radius: 10px;
}
#gameBoard span:hover{
  background-color: white;
}

#gameBoard span.win {
  background-color: #25a404;
}
 h2{
  color: #ddd;
}

button{
  border-radius: 10px;
  height: 1.6rem;
  width: 6rem;
  background-color: #a3a106;
  color: #ddd;
  font-size: 15px;
}
button:hover{
  color: #000000;
  cursor: pointer;
}
input{
  border-radius: 10px;
  height: 1.2rem;
  width: 10rem;
}
label{
  color:#ddd
}
